body {
    background-color: black;
    background-image: url(https://th.bing.com/th/id/R.03a867ecdb77e6c9cda2125bce1df41f?rik=ROegNRNVKxObdg&pid=ImgRaw&r=0);
    text-size-adjust: auto;
    background-repeat: repeat, no-repeat;
    color: white;
}
#logo {
    background-color: white;
    width: 75%;
    padding: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 35px;
    text-align: center;
    


}
.menu-container{
color: rgb(255, 0, 0);
border: white;
padding-top: 30px;
display:inline;
font-size: xx-large;
text-align: center;
margin: 10px;

}   

#mid{
    display: inline;

}

#img1{
   display: inline;
   height: 10px;
   width: 50px;
}

#img2{
    text-align: center;
    width: 50px;
 }
 #img3{
    text-align: center;
    width: 50px;
 }