body {
    background-color: black;
    background-image: url(https://th.bing.com/th/id/R.03a867ecdb77e6c9cda2125bce1df41f?rik=ROegNRNVKxObdg&pid=ImgRaw&r=0);
    text-size-adjust: auto;
    background-repeat: repeat, no-repeat;
    color: white;
    
}
#logo {
    background-color: white;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    


}
.menu-container{
color: rgb(255, 0, 0);
border: white;
padding-top: 150px;
font-size: x-large;
text-align: left;
padding-left: 50px;


}   

#mid{
    display: inline;

}
.img{
   display: inline;
   line-height: center;
   display: inline;
   margin: 65px;
   padding-left: 100px;

}
#article{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

a:link{
    color: gold;
    font-size: 15px;
}